:root {
    --color-main: #fff;
    --color-header: #CFFCEC;
    --highlight-color: #649195;
    --highlight-logo: #555555;
    --header-bg-color: #CFFCEC;
    --menu-text-color: #68618C;
    --menu-item-bg-color: #EFC9B8;
    --home-heading-bg-color: #F7F1DD;
}

body {
    overflow-x: hidden;
}

.top-header {
    min-height: 5.25rem;
    justify-content: space-between;
    align-items: center;

    top: -115px;
    background: var(--header-bg-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.logo {
    color: var(--highlight-logo);
}

.logo .who, .contact .consult {
    display: block;
    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 2rem;
}

.logo .name {
    font-family: Caveat, serif;
    /*font-style: normal;*/
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
}

.logo img {
    width: 3rem;
    margin-left: 0.02rem;
    margin-top: 0.13rem;
}

.phone a {
    display: inline-flex;
}

.contacts img {
    width: 1.5rem;
    height: 1.5rem;
}

.contact .consult {
    align-items: center;
}

.contacts {
    display: inline-flex;
}

.contacts .phone {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--highlight-color);
    line-height: 1.5rem;
    align-content: center;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar-light .navbar-toggler {
    border-color: var(--header-bg-color);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    background: var(--header-bg-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='5 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#555' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: var(--menu-text-color);
}

.navbar .nav-link {
    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.425rem;
    /*margin: 0.1375rem;*/
}

.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    background: var(--menu-item-bg-color);
    max-width: 7rem;
    color: var(--color-main);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.carousel-item {
    height: 23rem;
}

.carousel-image-1 {
    /*background: url("../img/girl_lavender.jpg");*/
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
        url("../img/girl_lavender.jpg");
    background-size: cover;
}

.carousel-image-2 {
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url("../img/lotos.jpg");
    background-size: cover;
}

.carousel-image-3 {
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url("../img/flowers.jpg");
    background-size: cover;
}

.mb-10 {
    margin-bottom: 5rem;
}

.blockquote {
    font-size: 1.5rem;
    margin-top: -50px;
}

.blockquote-footer {
    color: var(--color-main);
}

.top-header a{
    color: var(--highlight-logo);
    -webkit-transition:color .3s;
    -o-transition:color .3s;
    transition:color .3s;
}

.top-header a:hover,
.top-header a.anchor{
    text-decoration:none;
}

#home-icons {
    color: var(--menu-text-color);
    font-family: Cormorant, serif;
    text-align: center;
    position: relative;
}

#home-icons h2 {
    font-style: normal;
    /*font-weight: 500;*/
    font-size: 3.5rem;
    line-height: 81.1%;
    max-width: 30rem;
    margin-bottom: 2rem !important;
}

#home-icons .rec-rotated {
    position: absolute;
    left: 4rem;
    top: 5rem;
    width: 3.5rem;
    height: 5.25rem;
}

#home-icons .rec-side {
    position: absolute;
    left: 0;
    top: -5rem;
    width: 5.75rem;
    height: 7.25rem;
}

#home-icons p {
    color: var(--highlight-logo);
}

#home-icons .meditation {
    width: 4rem;
    height: 5rem;
}

#home-icons .hands {
    width: 5rem;
    height: 4rem;
}

#home-icons .bird {
    width: 4rem;
    height: 4.5rem;
}

#home-heading {
    position: relative;
    font-family: Cormorant, serif;
    min-height: 7rem;
    background: var(--home-heading-bg-color);
    border-radius: 3rem;
}

#home-heading h1 {
    max-width: 30rem;
    font-size: 3rem;
    line-height: 80%;
    color: var(--menu-text-color);
    font-weight: 500;
    margin-bottom: 1.5rem !important;
}

#home-heading p {
    color: var(--highlight-logo);
    max-width: 43rem;
    font-size: 1.3rem;
}

#home-heading .circles {
    position: absolute;
    left: 0;
    top: -1.5rem;
}

#about-short .about-sh {
    font-size: 3vh;
}

#page-header {
    height: 150px;
    background: url("../img/image1.jpg");
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #ffffff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

.about-img {
    margin-top: -50px;
}

#accordion {
    border: #444;
}

#faq a {
    color: #000;
    text-decoration: none;
}

#faq .card-body,
#faq .card-header {
    background: #fff;
    color: #000;
}

#faq .card-body {
    text-align: left;
}

#main-footer {
    background: #000;
    color: #fff;
}

[data-toggle="collapse"] i:before{
    content: "\f146";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}