:root {
    --color-main: #fff;
    --color-header: #CFFCEC;
    --highlight-color: #649195;
    --highlight-logo: #555555;
    --header-bg-color: #d9ece0;
    --menu-text-color: #68618C;
    --menu-item-bg-color: #EFC9B8;
    --home-heading-bg-color: #F7F1DD;
    --footer-bg-color: rgba(212, 185, 157, 0.71);
}

body, html {
    overflow-x: hidden;
    background: #f9f2eb;
}

body {
    position: relative;
}

.top-header {
    min-height: 5.25rem;
    justify-content: space-between;
    align-items: center;

    top: -115px;
    background: var(--header-bg-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.logo {
    color: var(--highlight-logo);
}

.logo .who, .contact .consult {
    display: block;
    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 2rem;
}

.logo .name {
    font-family: Caveat, serif;
    /*font-style: normal;*/
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
}

.logo img {
    width: 3rem;
    margin-left: 0.02rem;
    margin-top: 0.13rem;
}

.phone a {
    display: inline-flex;
}

.contacts img {
    width: 1.5rem;
    height: 1.5rem;
}

.contact .consult {
    align-items: center;
}

.contacts {
    display: inline-flex;
}

.contacts .phone {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--highlight-color);
    line-height: 1.5rem;
    align-content: center;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar-light .navbar-toggler {
    border-color: var(--header-bg-color);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    background: var(--header-bg-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='5 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#555' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: var(--menu-text-color);
}

.navbar .nav-link {
    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.425rem;
    /*margin: 0.1375rem;*/
}

.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    background: var(--menu-item-bg-color);
    max-width: 7rem;
    color: var(--color-main);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

#showcase .carousel-item {
    height: 23rem;
}

.carousel-image-1 {
    /*background: url("/templates/img/girl_lavender.jpg");*/
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
        url("/templates/img/girl_lavender.jpg");
    background-size: cover;
}

.carousel-image-2 {
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url("/templates/img/lotos.jpg");
    background-size: cover;
}

.carousel-image-3 {
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url("/templates/img/flowers.jpg");
    background-size: cover;
}

.mb-10 {
    margin-bottom: 5rem;
}

#showcase .carousel-inner {
    /*max-width: 90%;*/
    border-radius: 3rem;
}

#showcase .blockquote {
    font-size: 1.5rem;
    margin-top: -50px;
}

.blockquote-footer {
    color: var(--color-main);
}

.top-header a{
    color: var(--highlight-logo);
    -webkit-transition:color .3s;
    -o-transition:color .3s;
    transition:color .3s;
}

.top-header a:hover,
.top-header a.anchor{
    text-decoration:none;
}

#home-icons,
#about {
    color: var(--menu-text-color);
    font-family: Cormorant, serif;
    text-align: center;
    position: relative;
}

#home-icons h2,
#about h2 {
    font-style: normal;
    /*font-weight: 500;*/
    font-size: 3.5rem;
    line-height: 81.1%;
    max-width: 30rem;
    margin-bottom: 2rem !important;
}

#home-icons .rec-rotated {
    position: absolute;
    left: 4rem;
    top: 5rem;
    width: 3.5rem;
    height: 5.25rem;
}

#home-icons .rec-side {
    position: absolute;
    left: 0;
    top: -5rem;
    width: 5.75rem;
    height: 7.25rem;
}

#home-icons p {
    color: var(--highlight-logo);
}

#home-icons .meditation {
    width: 4rem;
    height: 5rem;
}

#home-icons .hands {
    width: 5rem;
    height: 4rem;
}

#home-icons .bird {
    width: 4rem;
    height: 4.5rem;
}

#home-heading {
    max-width: 80%;
    position: relative;
    font-family: Cormorant, serif;
    min-height: 7rem;
    background: var(--home-heading-bg-color);
    border-radius: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

#home-heading h1{
    max-width: 30rem;
    font-size: 3rem;
    line-height: 80%;
    color: var(--menu-text-color);
    font-weight: 500;
    margin-bottom: 1.5rem !important;
}

#home-heading p {
    color: var(--highlight-logo);
    max-width: 43rem;
    font-size: 1.3rem;
}

#home-heading .circles {
    position: absolute;
    left: 0;
    top: -1.5rem;
}


#online .description {
    font-family: Cormorant, serif;
    font-weight: 500;
    width: 22rem;
    height: 22rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    margin-left: 19rem;
}

#online h3 {
    color: var(--menu-text-color);
    font-size: 2.5rem;
    width: 15rem;
    line-height: 81.1%;
}

#online .button {
    width: 19rem;
    height: 8rem;
    border-radius: 3rem;
    background: var(--menu-item-bg-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

    margin-left: -6rem;
    margin-top: 18rem;
}

#online .button a {
    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 81.1%;

    width: inherit;
    height: inherit;
    text-transform: none;
    text-decoration: none;
    color: var(--highlight-logo);
}

#online .button:hover {
    background: var(--highlight-logo);
}

#online .button a:hover {
    color: var(--color-main);
}

#online .button span {
    display: block;
}

#online {
    position: relative;
}

#online .bg-rec,
#contact .bg-rec {
    position: absolute;
    width: 3.5rem;
    height: 5.25rem;
}

#online .rotated {
    right: 0;
    top: 60px;
    width: 30%;
    height: 80%;
    max-width: 600px;
    transform: rotate(180deg);
}

#online .rotated-1 {
    width: 20%;
    height: 60%;
    left: 5rem;
    top: 0;
    transform: rotate(120deg);
    opacity: 0.4;
}

#online .rotated-2 {
    right: 8rem;
    top: 20rem;
    transform: rotate(75deg);
}


#online .arrow-online {
    width: 16rem;
    height: 10rem;
    position: absolute;
    top: 20rem;
    left: 51rem;
}

#about-short {
    position: relative;
    background: var(--menu-text-color);
    border-radius: 3rem;
    max-width: 90%;
}

#about-short .about-header {
    font-size: 3rem;
    line-height: 70%;

    font-family: Caveat, serif;
    font-style: normal;
    font-weight: normal;
}

#about-short .about-who {
    font-size: 1.5rem;

    display: block;
    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: bold;
}

#about-short .about-desc {
    font-size: 1.1rem;

    font-family: Cormorant, serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 15%;
}

#about-short button {
    margin-left: 30%;

    width: 12rem;
    height: 3rem;

    font-size: 1.3rem;
    background: var(--menu-item-bg-color);
    color: var(--highlight-logo);
    font-family: Cormorant, serif;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

#about-short button:hover {
    background: var(--highlight-logo);
    color: var(--color-main);
}

#about-short .about-img {
    position: relative;
    /*background: url("/templates/img/bg/circles_about.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}

#about-short .about-img-cov {
    position: absolute;
    right: 0;
    top: -1rem;
}

#page-header {
    height: 150px;
    background: url("/templates/img/image1.jpg");
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #ffffff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

#newsletter .main-form {
    background: var(--home-heading-bg-color);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    max-width: 31rem;
    max-height: 25rem;
}

#newsletter .main-cart {
    background: var(--home-heading-bg-color);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    max-width: 800px;
}

#newsletter .main-form-content,
#newsletter-mobile .main-form-content,
#contact .main-form-content,
#contact-mobile .main-form-content {
    background: var(--color-main);
    /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);*/
    border-radius: 1.5rem;
}

#newsletter h4,
#newsletter-mobile h4,
#contact h4,
#contact-mobile h4 {
    color: var(--menu-text-color);
    font-size: 3rem;
    line-height: 80%;

    font-family: Caveat, serif;
    font-style: normal;
    font-weight: normal;
}

#newsletter button,
#newsletter-mobile button,
#contact button,
#contact-mobile button {
    display: block;
    width: 12rem;
    height: 3.5rem;

    font-size: 1.5rem;

    background: var(--menu-item-bg-color);
    color: var(--highlight-logo);
    font-family: Cormorant, serif;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

#newsletter button:hover,
#newsletter-mobile button:hover,
#contact button:hover,
#contact-mobile button:hover {
    background: var(--highlight-logo);
    color: var(--color-main);
}

#newsletter .card-body p,
#newsletter-mobile .card-body p {
    font-family: Cormorant, serif;
    color: var(--highlight-logo);
    max-width: 43rem;
    font-size: 1.6rem;
}

.about-img {
    margin-top: -3rem;
    max-width: 30rem;
    height: 30rem;
}

#about p {
    color: var(--highlight-logo);
    font-size: 1rem;
}

#faq h2 {
    color: var(--menu-text-color);
    font-family: Cormorant, serif;
    font-size: 3.5rem;
    line-height: 81%;
    max-width: 40rem;
}

#accordion {
    border: #444;
}

#accordion .radius {
    border-radius: 2rem;
}

#testimonials {
    background: var(--menu-text-color);
    max-width: 90%;
    border-radius: 3rem;
}

#testimonials h2 {
    font-family: Cormorant, serif;
    font-size: 3.5rem;
    line-height: 81%;
}

#testimonials .icons {
    color: var(--highlight-color);
    font-size: 1.5rem;
}

#faq a {
    color: #000;
    text-decoration: none;
}

#faq .card-body,
#faq .card-header {
    background: #fff;
    color: #000;
}

#faq .card-body {
    text-align: left;
}

#blog .card {
    border-radius: 2rem;
}

#blog .card:hover {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

#contact .main-form {
    background: var(--home-heading-bg-color);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    max-width: 33rem;
    max-height: 20rem;
}

#contact h1,
#contact-mobile h1,
#faq h1 {
    font-size: 3rem;
    line-height: 80%;
    color: var(--menu-text-color);
    font-weight: 500;
}

#contact-mobile h4 {
    font-size: 1.8rem;
}

#contact .main-cart {
    background: var(--home-heading-bg-color);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    max-width: 30rem;
    max-height: 30rem;
}

#contact .main-contact-content,
#contact-mobile .main-contact-content {
    background: var(--color-main);
    /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);*/
    border-radius: 50%;
}

#contact .rotated {
    right: 5rem;
    top: 10rem;
    width: 30%;
    height: 60%;
    max-width: 600px;
    transform: rotate(180deg);
}

#contact .rotated-1 {
    width: 20%;
    height: 60%;
    left: 18rem;
    top: 15rem;
    transform: rotate(120deg);
    opacity: 0.4;
}

#contact .card-body p,
#contact-mobile .card-body p {
    font-family: Cormorant, serif;
    color: var(--highlight-logo);
    font-size: 1.3rem;
}

#contact-mobile .card-body p {
    font-size: 1.1rem;
}

#main-footer {
    background: var(--footer-bg-color);
    color: var(--highlight-logo);
    font-family: Caveat, serif;
    font-size: 1.5rem;
}

#main-footer .icons {
    color: var(--highlight-logo);
    font-size: 2rem;
}

#main-footer .socials {
    justify-content: space-between;
}

.social {
    display: inline-flex;
}

[data-toggle="collapse"] i:before{
    content: "\f146";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}